
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

//Colors

$base-color: rgba(0,0,0,.4);
$primary-color: #fff;
$secondary-color: rgba(255,255,255,.1);

$grad-start: #000428;
$grad-end: #004e92;

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
  }
  
  html, body, .wrapper {
    height: 100%;
  }

 
  
//   body {
//     font-weight: 300;
//     font-family: Hind Vadodara;
//     background-image: linear-gradient(to left, $grad-start, $grad-end);
//     color: $primary-color;
//     font-size: 14px;
//   }
.abc {

  height: 50;
  background-color: #292C2D;
  text-align: center;
  color: white;
  margin-top:35px ;
  padding-top: 15px;
  overflow: scroll;
  margin-bottom: 14px;
}
.raised {
  background-color: #292C2D !important;
  color: white;
  margin: 15
}

.q,
.w,
.e,
.r,
.t {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  height: auto;
  padding: .5rem;
}

.line {
  color: #ffffff;
  background-color: #ffffff;
}
.page-footer {
  background-color: #292C2D;
  float: "bottom";
  text-align: center;
  color: white;
  padding-top: 20px
  
}
.column {
  float: left;
  width: 20%;
  height: 100%;
  border-right: 1px solid $base-color;
  border-left: 1px solid $base-color;
  border-bottom: 1px solid $base-color;
  text-align: center;
}

.rejected {
  background-color:#97B4ED;
  
  // &:after {
  //   content: "";
  //   position: absolute;
  //   left: 0;
  //   bottom: 0;
  //   width: 100%;
  //   height: 100px;
  // }
}

.pending {
  background-color:#7C9BD8;
}
.development {
  background-color:#749DDB;
}
.testing {
  background-color:#5B8AD1;
}
.production {
  background-color:#4C71A8;
}

/* Clear floats after the columns */
.input-group {
  float: left;
  width: 20%;
  height: 100%;
  border-right: 1px solid $base-color;
  border-left: 1px solid $base-color;
  text-align: center;
}

.modal-120w {
  width: 100%
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.row-input:after {
  content: "";
  display: table;
  clear: both;
}

.clear {
    &:after {
      content: "";
      display: table;
      clear: both;
    }
}
ul {
    list-style-type: none;
  }

.bottom_view {
    
        flex: 1;
        justify-content: flex-end;
        margin-bottom: 36;
    
}

.input_style{
  color: 'inherit';
  width: '100%';
  margin-right: '10px';
  padding-right: '50px';
  padding-left: '10px';
}

header {
    //background-color: #4D5BD8;
    background-color: #4D5BD9;
    
    
    li {
      padding: 15px;
      float: left;
      width: 20%;
      text-align: center;
      position: relative;
      text-transform: uppercase;
      color: white;
      
      &:after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 1px;
      }
      
      &:nth-child(1) {
        &:after {
          background: linear-gradient(to left, #cb2d3e , #ef473a);
        }
      }
      
      &:nth-child(2) {
        &:after {
          background: linear-gradient(to left, #ffb347 , #ffcc33);
        }
      }
      
      &:nth-child(3) {
        &:after {
          background: linear-gradient(to left, #56ab2f , #a8e063);
        }
      }
      
      &:nth-child(4) {
        &:after {
          background: linear-gradient(to left, #00d2ff , #3a7bd5);
        }
      }
      
      &:nth-child(5) {
        &:after {
          background: linear-gradient(to left, #4CB8C4 , #3CD3AD);
        }
      }
    }
  }

  footer {
   // background-color: $primary-color;
    background-color: #4D5BD9;
    
    
    li {
      padding: 15px;
      float: left;
      width: 20%;
      text-align: center;
      position: relative;
      text-transform: uppercase;
      color: white;
      
      &:after {
        content: "";
        position: absolute;
        right: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 1px;
        flex: 1;
        justify-content: flex-end;
      }
      
      &:nth-child(1) {
        &:after {
          background: linear-gradient(to left, #cb2d3e , #ef473a);
        }
      }
      
      &:nth-child(2) {
        &:after {
          background: linear-gradient(to left, #ffb347 , #ffcc33);
        }
      }
      
      &:nth-child(3) {
        &:after {
          background: linear-gradient(to left, #56ab2f , #a8e063);
        }
      }
      
      &:nth-child(4) {
        &:after {
          background: linear-gradient(to left, #00d2ff , #3a7bd5);
        }
      }
      
      &:nth-child(5) {
        &:after {
          background: linear-gradient(to left, #4CB8C4 , #3CD3AD);
        }
      }
    }
  }
  
  .wrapper {
    overflow: auto;
    
  }
  
  
  //dashboard
  .dashboard {
    height: calc(100% - 101px);
  
    > div {
      float: left;
      height: 100%;
      border-right: 1px solid $base-color;
      width: 20%;
    }
  }

  #page-container {
    position: relative;
    min-height: 85.5vh;
  }
  #content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
  }
  #footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3.5rem;            /* Footer height */
  }
  

  .card {
    max-width: 365;
    max-height : 100;
    background-color: #97B4ED;
  }

  .media {
    height: 10,
  }
  
  
  
.task {
  text-align: left;
  background-color: #97B4ED;
  font-size: 90%;
  font-family: Georgia, 'Times New Roman', Times, serif
}

.form-rounded {
  border-radius: 1rem;
  padding: 1
}


$height:400px;
body{width:100%;height:700px;margin:0;padding:0;}
#space > div{width:500px;margin:auto;margin-top:10%;font-family: 'Roboto', sans-serif;}

#signup,#login{width:100%;background:#2c3e50;}
#signup{height:$height;} #login{height:$height / 2;}
.yellow{background-color:gold;}

#buttons{height:100px;background:#2c3e50;}
#buttons > p {width:49.95%;float:left;color:white;text-align:center;padding-top:25px;height:75%;margin:0;}
#buttons > p:hover{background:#f1c40f;color:#2c3e50;cursor:pointer;}
#signup > input, #signup > button{margin-top:20px;margin-left:105px;height:25px;border:none;border-radius:2px;}
#first,#last,#confirm{width:250px;}
#email{width:175px;}
#password{width:125px;margin-left:6px !important;}


#login > #email,#login > #password,#login >button{width:250px;margin-left:125px !important;margin-top:20px;height:25px;}


